body{
    background-image:url("https://e0.365dm.com/22/10/2048x1152/skysports-world-cup-qatar-2022_5921764.jpg");
    background-repeat:no-repeat;
    background-size:100% 100%;
    }
    h1
    {
    color:white;
    }
    h2
    {
    color:white;
    }
    button
    {
    background-color:blue;
    color:green;
    }
    b1
    {
    color:black;
    }
    #coment
    {
    color:green;
    }